
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family:'Times New Roman', Times, serif;
  }

  h1{
    text-align: center;
    margin: 1.25rem 0 0.25rem 0;
  }

  .chart-container{
    position: relative;
    width: 45vw;
    height: 22.5vw;
    margin: auto;
  }

  
  